h1
{
  padding-left: 20px;
  color: white;
}
h6
{
  padding-left: 20px;
  color: white;
}
video
{
  padding-left: 22px;
  zoom: 100%;
  clip: rect(100px,60px,200px,10px);
  <!outline: 5px dotted green;>
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
}
